.card {
  background: #ffffff;
  color: black;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.card:hover {
  text-decoration-line: underline;
  text-decoration-color: #ffb703;
}

.card img {
  border-top-left-radius: 0.5rem; /* 8px */
  border-top-right-radius: 0.5rem; /* 8px */
  width: 100%;
  margin-top: 1rem;
}

.card-details {
  padding: 2rem;
}

.card-details h2 {
  color: #ffb703;
  text-align: center;
}

.statistic {
  color: #ffb703;
}
