.banner {
  position: relative;
}

.banner-header {
  text-align: center;
  width: calc(100% - 40px);
  padding: 10px 20px;
  color: rgb(142, 202, 230);
  font-size: 20px;
  margin: 0;
}

.banner-header span {
  color: rgb(255, 183, 3);
}

.banner-img {
  width: 100%;
}

.banner-video {
  height: 100vh;
  width: 98vw;
}
